body {
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    font-family: "arial";
}
.whitebox {
    background-color:white;
    width:48px;
    height:48px;
}
.wrapper {
    width: 980px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
