#settings_overlay {
    width: 980px;
    position: absolute;
    height: 640px;
    background-color: black;
    z-index: 2;
    opacity: .9;
}

#return_to_game {
    -webkit-mask-image: url(../img/ic_cancel_48px.svg);
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    margin: 12px;
}

label {
    color:white;
}

#hiragana_buttons, #katakana_buttons {
    margin: 20px;
    display: inline-block;
}

#mute_controller {
    -webkit-mask-image: url(../img/ic_volume_off_48px.svg);
    position: absolute;
    top: 90px;
    right: 335px;
    cursor: pointer;
}
#volSlider {
    position: absolute;
    top: 106px;
    right:200px;
}

#speedlabel {
    position: absolute;
    top:180px;
    right: 339px;
}
#speedSlider {
    position: absolute;
    top:182px;
    right: 200px;

}
#quantitylabel {
    position: absolute;
    top:260px;
    right: 339px;

}
#quantitySlider {
    position: absolute;
    top:260px;
    right: 200px;
}
